
<!--Section: Social news card-->
<section class="pt-5 mt-3">
    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
         <div class="col-md-2"></div>
        <div class="col-md-8">

            <!--Card-->
            <div class="card news-card">

                <!--Heading-->
                <div class="card-body">
                    <div class="content">
                        <!--div class="right-side-meta">14 h</div-->
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(17)-mini.jpg" class="rounded-circle avatar-img z-depth-1-half">  Annie
                        <span class="star-right"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                    </div>
                </div>


<div class="list-group">
  <a class="midd">Workout1</a>
  <a href="#" style="color:black" class="list-group-item waves-effect">Push Up (30 reps)</a>
  <a href="#" style="color:black" class="list-group-item waves-effect">Sit Ups (30 reps)</a>
  <a href="#" style="color:black" class="list-group-item waves-effect">Plank (1 min)</a>
  <a href="#" style="color:black" class="list-group-item waves-effect">Run (30min)</a>
  <a href="#" style="color:black" class="list-group-item waves-effect">Cool Down</a>
</div>


                <!--Card content-->
                <div class="card-body">

                    <!--Social meta-->
                    <div class="social-meta">
                        <p class="blue-text">#workout1 #abs #legs</p>

                    </div>

                    <hr>
                    <div class="col">
                      <span><i class="fa-heart-o"></i>  25 likes</span>
                    <div class="md-form">
                        <input placeholder="Add exercise..." type="text" id="form">

                    </div>
                  </div-->
                </div>
                <!--Card content-->

            </div>
            <!--Card-->

        </div>
        <!--Grid column-->
         <div class="col-md-2"></div>
    </div>
    <!--Grid row-->

</section>
<!--Section: Social news card-->
