{% block body %}

{% if session['username'] %}

    <!--Navbar-->
    <nav id="top-navbar" class="navbar navbar-expand-lg navbar-dark primary-color">
        <!--Brand is Lift-->
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='assets/ic_launcher.png') }}" height="30" class="d-inline-block align-top" alt="">
        </a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('discovery') }}">
                        Discovery
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>

            <form method=POST action="{{ url_for('search') }}" class="form-inline">
                <input class="form-control mr-sm-2 input-secondary" type="text" name="search" placeholder="Search" aria-label="Search">
            </form>
    </div>
</nav>

{% endif %}

{% endblock %}
