{% block body %}
  <!--Card-->
  <div class="row m-4" style="display:inline-block;">
    <div class="col-md-2"></div>
      <div class="card news-card" >
          <!--Card image-->
          <div class="card-body">
              <div class="content">
                <div style="display:inline-block;vertical-align:top;">
                    {% if user.image_data != None %}
                        <img src="data:image/png;base64,{{user.image_data}}" class="rounded-circle avatar-img z-depth-1-half" width="32" height="32">
                    {% else %}
                        <img src="{{ url_for('static', filename='assets/default-profile.png') }}" class="rounded-circle avatar-img z-depth-1-half" width="32" height="32">
                    {% endif %}
                </div>

                <div style="display:inline-block;">
                  {% if user.isFriend %}
                    <a href="{{ url_for('addFriend', friend_user=user.objId) }}" class="btn btn-primary" ripple-radius>Follow</a>
                  {% endif %}
                  {% if not user.isFriend %}
                    <a href="#" type="button" class="btn btn-primary" disabled>Following</a>
                  {% endif %}
                </div>
              </div>
              <h4>{{ user.name }}</h4>
          </div>


      </div>
   </div>
   <!--/.Card-->
 {% endblock %}
