{% block body %}
<!--Section: Social news card-->
<section class="pt-5 pb-3">
    <!--Grid row-->
    <div class="row m-0" >
        <!--Grid column-->
        <div class="col-md-2"></div>
        <div class="col-md-2 col-lg-8">
            <!--Card-->
            <div class="card news-card">
                <!--Heading-->
                <!--Card content-->
                <div class="card-body">
                    <!--Social meta-->
                    <div class="content">
                        <div style="display:inline-block;vertical-align:top;">
                            {% if image_data != None %}
                            <img src="data:image/png;base64,{{image_data}}" class="rounded-circle avatar-img z-depth-1-half">
                            {% else %}
                                <img src="{{ url_for('static', filename='assets/default-profile.png') }}" class="rounded-circle avatar-img z-depth-1-half">
                            {% endif %}
                        </div>
                        <div style="display:inline-block;">
                          <p> {{ user_workout.owner }} </p>
                          <h4> {{ user_workout.title }} </h4>
                        </div>
                        <div style="display:inline-block;" class="float-right">

                          <a href="{{ url_for('saveWorkout', workout=user_workout.id) }}" type="button" class="btn-floating teal"><i class="fa fa-floppy-o" aria-hidden="true"></i></a>
                        </div>
                    </div>

                </div>
                <!--Card image-->
                <div class="form-check checkbox-rounded checkbox-success-filled">
                    <ul style="list-style-type: none">
                        {% for exercise in user_workout.exercises %}
                            <li>
                                <input type="checkbox" id="{{ 'object-' + exercise.key }}" class="form-check-input"
                                data-workout="{{ user_workout['_id'] }}" data-exercise="{{ exercise['_id'] }}">
                                <label class="form-check-label" for="{{ 'object-' + exercise.key }}">{{ exercise.title }} > {{ exercise.duration }}</label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="card-body">

                </div>
                <!--Card content-->
            </div>
            <!--Card-->
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
</section>
<!--Section: Social news card-->

{% endblock %}
