{% block body %}
<!--Section: Social news card-->
<section class="pt-5 pb-3">
    <!--Grid row-->
    <div class="row m-0" >
        <!--Grid column-->
        <div class="col-md-2"></div>
        <div class="col-md-2 col-lg-8">
            <!--Card-->
            <div class="card news-card">
                <!--Heading-->
                <div class="card-body">
                    <div class="content">
                        <div class="right-side-meta"><i class="fa fa-bookmark-o"></i></div>

                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(17)-mini.jpg" class="rounded-circle avatar-img z-depth-1-half">Kate
                    </div>
                </div>
                <!--Card image-->
                <div class="form-check checkbox-rounded checkbox-success-filled">
                    <ul style="list-style-type: none">
                        <li>
                            <input type="checkbox" id="checkbox001" class="form-check-input">
                            <label class="form-check-label" for="checkbox001">Barbell Deadlift    (4 Sets : 8 Reps)</label>
                        </li>
                        <li>
                            <input type="checkbox" id="checkbox002" class="form-check-input">
                            <label class="form-check-label" for="checkbox002">Wide-grip Pulldown    (4 Sets : 10 Reps)</label>
                        </li>
                        <li>
                            <input type="checkbox" id="checkbox003" class="form-check-input">
                            <label class="form-check-label" for="checkbox003">Rear Delt Flys    (3 Sets : 10 Reps)</label>
                        </li>
                        <li>
                            <input type="checkbox" id="checkbox004" class="form-check-input">
                            <label class="form-check-label" for="checkbox004">Seated Rows    (4 Sets : 10 Reps)</label>
                        </li>
                        <li>
                            <input type="checkbox" id="checkbox005" class="form-check-input">
                            <label class="form-check-label" for="checkbox005">Back Extention    (4 Sets : 10 Reps)</label>
                        </li>
                    </ul>
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Social meta-->
                    <p>Here's a back workout!</p>
                    <div class="social-meta d-flex justify-content-between">
                        <p><i class="fa fa-comment"></i>13 comments</p>
                        <p><i class="fa fa-heart-o"></i>25 likes</p>
                    </div>
                    <hr>
                    <!--Comment input-->
                    <div class="md-form">
                        <i class="fa fa-heart-o prefix"></i>
                        <input placeholder="Add Comment..." type="text" id="form5" class="form-control input-cyan">
                    </div>
                </div>
                <!--Card content-->
            </div>
            <!--Card-->
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
</section>
<!--Section: Social news card-->

{% endblock %}