{% block body %}
<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify" role="document">
        <div class="modal-content">
          <form  method=POST action="{{ url_for('addworkout') }}">
            <div class="modal-header text-center btn-blue">
                <h4 class="modal-title w-100 font-weight-bold">Add Workout</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
              <div class="md-form">
                  <i class="fa fa-pencil-square-o prefix grey-text"></i>
                  <input type="text" onfocus="this.value=''" class="form-control" name="title" required>
                  <label for="worktitle">Workout Title</label>
              </div>
            </div>
            <!--div class="modal-header">
              {% include 'includes/add-exercise.html' %}
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fa fa-pencil prefix grey-text"></i>
                    <input type="text" id="form34" class="form-control">
                    <label data-error="wrong" data-success="right" for="form34">Exercise Title</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fa fa-refresh prefix grey-text"></i>
                    <input type="email" id="form29" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="form29">Duration</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fa fa-link prefix grey-text"></i>
                    <input type="text" id="form32" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="form32">Link</label>
                </div>

            </div-->
            <div class="modal-footer d-flex justify-content-center">
                <!--button class="btn btn-blue">Add Exercise <i class="fa fa-plus ml-1"></i></button-->
                  <button type="submit" class="btn btn-blue">Add Workout</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
