{% extends 'layout.html' %}

{% block body %}


<div class="add-button" style="bottom: 45px; left: 25px;">
    <a href="" title="Add Exercise" class="btn-floating blue-gradient" data-toggle="modal" data-target="#modalexercise">
      <i class="fa fa-list-alt" aria-hidden="true"></i>
    </a>
</div>
<div class="add-button" style="bottom: 45px; left: 80px;">
    <a href="" title="Add Workout" class="btn-floating blue-gradient" data-toggle="modal" data-target="#modalworkout">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
</div>
<div class="fixed-action-btn smooth-scroll" style="bottom: 45px; right: 25px;">
    <a href="#top-navbar" title="Go to top" class="btn-floating btn-large blue-gradient">
        <i class="fa fa-arrow-up"></i>
    </a>
</div>

{% for user_workout in user_workouts %}
    {% include 'includes/workout-card.html' %}
{% endfor %}

<div>
    {% include '/addexercise.html' %}
</div>
<div>
    {% include '/addworkout.html' %}
</div>

{% endblock %}
