body {
    background-color: #EEEEEE;
}

.input-cyan:focus {
    box-shadow: 0 1px 0 0 #00BCD4 !important;
    border-bottom: 1px solid #00BCD4 !important;
}
.input-cyan:focus:not([readonly]) + label {
    color: #00BCD4 !important;
}
.input-cyan:focus:not([readonly]) + label {
    color: #00BCD4 !important;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.background {
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

.color-grey {
    color: #757575
}

.form-error {
    background-color: #c86e6e;
    background: #ffe6e6;
    border: 1px solid #f5c8c8;
    padding: 10px;
    border-radius: .25rem;
}

.gradient-border {
    width: 100vw;
    height: 5px;

	-webkit-transition: background 250ms ease-in-out !important;
	transition: background 250ms ease-in-out !important;
	background: -webkit-gradient(linear, left top, right top, from(#00bcd4), color-stop(70%, #FF5722), to(#00bcd4));
	background: linear-gradient(to right, #FF5722 0%, #FF5722 70%, #00bcd4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bcd4', endColorstr='$color', GradientType=1);
}

.font-16 {
    font-size: 16px !important;
}

[type="radio"].with-gap:checked + label::before {
    border-color: #00BCD4;
}
[type="radio"]:checked + label::after {
    border-color: #00BCD4;
    background-color: #00BCD4;
}

[type="checkbox"]:checked + label::before {
    border-color: transparent cyan cyan transparent !important;
}