.input-cyan:focus {
    box-shadow: 0 1px 0 0 #00BCD4 !important;
    border-bottom: 1px solid #00BCD4 !important;
}
.input-cyan:focus:not([readonly]) + label {
    color: #00BCD4 !important;
}
.input-cyan:focus:not([readonly]) + label {
    color: #00BCD4 !important;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.background {
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

.color-grey {
    color: #757575
}

[type="radio"].with-gap:checked + label::before {
    border-color: #00BCD4;
}
[type="radio"]:checked + label::after {
    border-color: #00BCD4;
    background-color: #00BCD4;
}